* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    justify-content: center;
    grid-template-rows: 40px auto auto;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-self: start;
    margin-top: 40px;
}

.middle {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    row-gap: 20px;
}


/*gameBoard container*/
.middle > div:nth-child(2) {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: auto auto;
    column-gap: 60px;
}

/*idle-area container*/
.middle > div:nth-child(odd) {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

div.idle-area {
    display: flex;
    justify-content: center;
    align-items: end;
    min-width: 250px;
    min-height: 250px;
    border: solid black;
    border-width: 0 0 1px 0;
}

.ship.selected {
    background-color: orangered;
}

/*divs inside ideal area ship*/
.idle-area > .ship > div {
    border: dotted 1px black;
}

.gameBoard-container > div {
    display: grid;
    grid-template-rows: 40px 1fr;
}

.gameBoard-container > div > p {
    justify-self: center;
}

.gameBoard {
    min-width: 400px;
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid black;
}

.gameBoard > div {
    border: 1px dotted black;
}

.targeted.ship {
    background: red;
}

.targeted.empty {
    background: gray;
}

.gameBoard.active > .untargeted.ship {
    background: teal;
}

.untargeted.ship {
    background-color: white;
}

/*footer style*/

footer {
    justify-self: center;
}